<div class="row">
  <%= render'layouts/sidebar' %>
  <div class="col-10 background px-0">
    <div class="text-center">
      <div class="col border-bottom border-dark" style="background-color:rgba(0,0,0,0.5);">
        <h1 class="top-text">Edit Diary</h1>
      </div>
    </div>
    <% if @diary.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @diary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row justify-content-center my-3">
      <div class="col-6 border p-0" style="background-color:white;">
        <div class="write_header">
          <h2 class="p-3" style="color:white;">
            Edit Diary!</h2>
          <h4 class="p-2" style="color:white;border-bottom:1px solid white;">あなたの思い出を編集しよう</h4>
        </div>
        <div class="write_body">
          <%= form_for @diary,:url => {:action => :update} do |f| %>
          <div class="mt-2">
            <%= f.label :写真 %>
            <%= f.attachment_field :live_image, format: 'jpeg' ,class: "file" %>
          </div>
          <div class="mt-2">
            <%= f.label :日付 %>
            <%= f.date_field :date %>
          </div>
          <div class="mt-2">
            <%= f.label :アーティスト %>
            <%= f.text_field :artist_name,　class: "hoge", size: 30 %>
          </div>
          <div class="mt-2">
            <%= f.label :ライブ名 %>
            <%= f.text_field :live_name,　class: "hoge", size: 30 %>
          </div>
          <div class="mt-2">
            <%= f.label :場所 %>
            <%= f.text_field :place,　class: "hoge", size: 30 %>
          </div>
          <div class="mt-2">
            <%= f.label :セットリスト %><br>
            <%= f.text_area :setlist,　class: "hoge", size: "50x10" %>
          </div>
          <div class="mt-2">
            <%= f.label :タイトル %>
            <%= f.text_field :title,　class: "hoge", size: 30  %>
          </div>
          <div class="mt-2">
            <%= f.label :コメント %><br>
            <%= f.text_area :impression,class: "hoge", size: "50x10"  %>
          </div>
          <div class="tags mt-2">
            <%= f.label :tag_list,"タグ(カンマ区切りで入力)" %>
            <%= text_field_tag 'diary[tag_list]', @diary.tag_list.join(","), data: {role: "tagsinput"}, class: "form-control" %>
          </div>
          <div class="tags my-2 text-center">
            <%= f.submit "変更",class: "btn btn-dark" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>