<div class="row">
	<%= render'layouts/sidebar' %>
	<div class="col-sm-9">
		<%= render'layouts/profile',user:@user %>
		<div class="row justify-content-center" >
			<div class="col-6">

				<div class="row">
					<div class=col>
						<div class="card">
							<div class="card-header">
								<h3>日付</h3>
							</div>
							<div class="card-body">
								<%= @diary.date %>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class=col>
						<div class="card">
							<div class="card-header">
								<h3>アーティスト</h3>
							</div>
							<div class="card-body">
								<%= @diary.artist_name %>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class=col>
						<div class="card">
							<div class="card-header">
								<h3>ライブ名</h3>
							</div>
							<div class="card-body">
								<%= @diary.live_name %>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class=col>
						<div class="card">
							<div class="card-header">
								<h3>場所</h3>
							</div>
							<div class="card-body">
								<%= @diary.place %>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class=col>
						<div class="card">
							<div class="card-header">
								<h3>写真</h3>
							</div>
							<div class="card-body text-center">
								<%= attachment_image_tag @diary, :live_image, format: 'jpeg'  ,class:"img-fluid" ,fallback: "no_image.jpg"%>
							</div>
						</div>
					</div>
				</div>


				<!-- アコーディオン -->
				<div class="row mt-3">
					<div class="col">
						<div id="events-info">
							<div class="card">
								<div class="card-header " data-toggle="collapse" data-target="#ac1">
									<h3>セットリスト</h3>
								</div>
								<div class="collapse" id="ac1" data-parent="#events-info">
									<div class="card-body"><%= @diary.setlist %></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col">
						<div id="events-info">
							<div class="card">
								<div class="card-header " data-toggle="collapse" data-target="#ac2">
									<h3>感想</h3>
								</div>
								<div class="collapse" id="ac2" data-parent="#events-info">
									<div class="card-body">
										<h4 class="card-title"><%= @diary.title %></h4>
										<p class="card-text"><%= @diary.impression %></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<% if @user == current_user %>
				<div class="row　mt-3">
					<div class="col">
					<%= link_to "編集する" ,edit_diary_path ,class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench"%>
					</div>
				</div>
				<%end%>

				<!-- コメント一覧 -->
			<div class="row mt-3">
					<div class=col>
						<div class="card">
							<div class="card-header">
								<h3>コメント</h3>
							</div>
							<% @diary.comment.each do |comment| %>

								<div class="card-body">
									<div class="col-12">
								<%= attachment_image_tag comment.user, :user_image, format: 'jpeg'  ,class:"img-fluid rounded-circle" ,fallback: "no_image.jpg"%>
             		<%= comment.user.name %>
              	<span class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d') %></span>
          				</div>
          				<div class="col-10 border-primary"><%=comment.comment %></div>
          				<% if comment.user_id == current_user.id %>
										<div class="col text-right">
    									<%= link_to "削除", diary_comment_path(comment.diary, comment), method: :delete, class: "btn btn-danger pull-right" %>
  									</div>
  								<% end %>
  							</div>
        			<% end %>
		      </div>
		    </div>
		  </div>

        <div class="row">
					<%= form_for [@diary, @comment] do |f| %>
					  <div class="col-12">
					    <%= f.text_area :comment,cols:'100', rows:'5', class: "form-control mw-100",placeholder: "コメントをここに" %>
					    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
					  </div>
					<% end %>
				</div>






			</div>
		</div>
	</div>
</div>