<div class="row">
<%= render'layouts/sidebar' %>
    <div class= "col-8">
	<% if @user.errors.any? %>
	  <div id="error_explanation" class="alert alert-danger">
	    <ul>
	      <% @user.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
	<%= form_for @user,:url => {:action => :update} do |f| %>

	    <%= f.attachment_field :user_image, format: 'jpeg' ,class: "file" %>
		<div>
			<%= f.label :ユーザー名 %>
			<%= f.text_field :name %>
		</div>
		<div>
			<%= f.label :メールアドレス %>
			<%= f.email_field :email %>
		</div>
		<div>
			<%= f.submit "登録" %>
		</div>
	<% end %>
	</div>
</div>
