<div class="row">
  <%= render'layouts/sidebar' %>
  <div class="col-sm-9">
    <div class="row justify-content-center">
      <div class="col-6">
        <h2>フォロワー</h2>
        <% @user.follower_user.where.not(id: @user.id).each do |user| %>
         <div class="table table-dark">
          <tr>
            <td><%= attachment_image_tag user, :user_image, format: 'jpeg'  ,class:"img-fluid rounded-circle" ,fallback: "no_image.jpg",size: "60x60"%></td>
            <td><%= user.name %></td>
          <% if current_user.following?(user) %>
            <td><%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %></td>
          <% else %>
            <td><%= link_to 'フォローする', follow_path(user.id), method: :POST %></td>
          <% end %>
            <td><%= link_to "#{user.name}のマイページ", user_path(user) %></td>
          </tr>
        <% end %>
    </div>
  </div>
</div>