<div class="row">
  <%= render'layouts/sidebar' %>
  <div class="col-sm-9">
<h2>フォロワー一覧</h2>
  <% if @user.follower.count == 0 %>
    <h2>フォロワーがいません</h2>
  <%else%>
    <% @user.follower_user.where.not(id: @user.id).each do |user| %>
      <p><%= user.name %>
        <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
        <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
        <% end %>
        <%= link_to "show", user_path(user) %>
      </p>
    <% end %>
    <% end %>
  </div>
</div>
