<div class="col-md-2 bg-dark " >
	<div class="sidebar">
    <div class="logo py-2 text-center">
       <%= link_to(root_path) do %>
           <%= image_tag 'logo.jpg', size: "170x60" %>
         <% end %>
     </div>
	 <ul class="list-unstyled text-white text-center">
	 	<%= link_to diaries_path do %>
	 		<li>All Diary</li>
	 	<% end %>
	 	<%= link_to diaries_follower_path do %>
	 		<li>Friend's Diary</li>
	 	<%end%>
	 	<%= link_to user_path(current_user.id) do %>
	 		<li>My page</li>
	 	<% end %>
	 	<br>
	 	<%= link_to diaries_search_path do %>
	 		<li>Search</li>
	 	<%end%>
	 	<%= link_to new_diary_path do %>
	 		<li>Write Diary</li>
	 	<% end %>
	 	<%= link_to destroy_user_session_path, method: :delete do %>
	 		<li class="m-auto">Logout</li>
	 	<% end %>
	 </ul>
	</div>
</div>