<% diaries.each do |diary| %>

	<div class="row justify-content-center" >
		<!-- diary本体 -->
		<div class="col-md-6 my-3 box"style="border:solid 1px #DAA25A;height:40%;background-color:#FFFFF0;">

				<!-- ヘッダー -->
	      <div class="row justify-content-center"style="height:50px;background-color:rgba(218,162,90,0.5)">
	      	<div class="col-2 mt-1">
	      		<%= link_to user_path(diary.user) do %>
	      		<%= attachment_image_tag @user, :user_image, format: 'jpeg'  ,class:"img-fluid rounded-circle" ,fallback: "no_image.jpg",size: "40x40" %><%end%></div>
	      	<div class="col-6 pl-0 align-self-center text-left">
	      		<%= link_to user_path(diary.user) do %>
	      		<%= diary.user.name %><%end%></div>
	      	<div class="col-md-4 align-self-center text-right">	<%= diary.date %></div>
	      	</div>

	      		<!-- ライブの写真 -->
	      	<div class="row">
	      			<div class="col-md-6 my-3"> <%= attachment_image_tag diary, :live_image, format: 'jpeg'  ,class:"img-fluid rounded" ,fallback: "no_image.jpg",size: "250x250"%></div>

	      	<!-- 右半分 -->
	      	<div class="col-md-6 ">
	      		<div class="row my-2 border-bottom">
					  <!-- ライブについて -->
					  	<div class="col-2 ">
					  		<p><i class="fas fa-music"></i></p>
					  	</div>
					  	<div class="col-10 ">
					  		<h4 ><%= diary.artist_name %></h4>
					  	</div>
					  	<div class="col-2">
						  	<p><i class="fas fa-compact-disc"></i></p>
						  </div>
						  <div class="col-10">
						  	<h4><%= diary.live_name %></h4>
						  </div>
						  <div class="col-2">
						  	<p><i class="fas fa-map"></i></p>
						  </div>
						  <div class="col-10">
						  	<h4><%= diary.place %></h4>
						  </div>
						  <div class="col-2">
						  	<p><i class="fas fa-book"></i></p>
						  </div>
						  <div class="col-10">
						  	<h4><%= diary.title %></h4>
						  </div>
						</div>
						<!-- コメント -->
						<div class="row mt-2">
							<div class="col">
								<p><i class="fas fa-comments"></i><%= diary.comment.count%>
								</p>
							</div>

							<!-- いいね -->
							<div id="likes_buttons_<%= diary.id %>" class="col">
            <%= render'layouts/favorite',diary:diary  %>
          		</div>

						</div>

               <!-- タグ -->
              <div class="row -2">
								<div class="article__tags__box col p-0", data-role="tagsinput" >
									<span>タグ：</span>
								  <% diary.tag_list.each do |tag| %>
								    <span class="badge badge badge-info">
								      <%= tag %>
								    </span>
								  <% end %>
								</div>
							</div>
   				</div><!--右半分-->
				</div><!--row-->
						<div class="row my-3">
							<div class="col-12 text-center " >
								<%= link_to "Read Here!",diary_path(diary),class: "btn btn-dark btn-sm" %>
							</div>
						</div>
		</div><!--col-6 diary本体-->
	</div><!--row justify-content-center-->
<% end %><!--each分-->